/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.sidebar {
  background-color: rgb(56, 95, 225);
  color: white;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
    margin-top: 10px;
}
  
.sidebar li a {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}